@import "tailwindcss";
@font-face{
    font-family: 'logo';
    src:url(assets/fonts/GeistPixel-Regular-VariableFont_ELSH.ttf)
}
@theme{
    --font-logo: 'logo', sans-serif;
}
html{
    scroll-behavior: smooth;
}